#skills {
	width:650px;
	height:500px;
}

.skills--jqcloud-words {
	float:left;
}

.summary {
	float: right;
	padding-top: 50px;
}

#social-section {
	padding-top: 50px;
}


.social--link-item  {
	padding-right: 20px;
}

.clear {
	clear:both;
}

